/* ----- navbar ----- */

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-size: 250%;
    padding-left: 20px;
}

.navbar {
    font-family: 'Inconsolata', monospace;
    -webkit-box-shadow: 0 8px 6px -6px #212529;
    -moz-box-shadow: 0 8px 6px -6px #212529;
    box-shadow: 0 8px 6px -6px #212529;
    height: 80px;
    background-color: #7f0000;
}

.navbar-nav {
    font-size: 120%;
    padding-right: 20px;
}

/* ----- main image and text ----- */

.album-cover{
    background: url("../images/sunset.jpg") no-repeat center;
    width: 100%;
    opacity: 0.9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* how do I target the button to remove blue underline?*/

.btn btn-dark {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

.button href {
    text-decoration: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
}

h2 {
    padding: 0;
    font-family: 'Oswald', sans-serif;
    color: #b71c1c;
}

h3, h5 {
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
}

.jumbotron {
    margin-top: 125px;
    margin-bottom: 125px;
    background: none;
    padding: 5px 0px;
    color: #b71c1c;
}

p {
    font-family: 'Inconsolata', monospace;
    color: #8f8f8f;
}

/*
.sub-headline {
    font-size: 1000%;
    padding:0;
} */

.headline{
    font-size: 800%;
}


/* ----- footer ----- */

footer {
    background-color: #343a40;
    color: #fafafa;
    height: 80px;
    margin: 0;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
}

.social-links li a i {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    text-align: center;
    padding: 3px;
}

.general-sub a {
    text-align: left;
    padding-left: 30px;
    color: #fafafa;
    text-decoration: none;
}

.general-sub p {
    text-align: left;
    padding-left: 10px;
    display: inline;
}

.list-inline {
    text-align: right;
    padding-right: 30px;
}

/* ----- card-decks ----- */

.card-deck {
    background-color: transparent;
    color: #fafafa;
    font-family: 'Inconsolata', monospace;
    margin: 20px;
}

.card .card1 .card2 .card3 {
    color: #7f0000;
    font-family: 'Inconsolata', monospace;
    margin: 10px 2px;
}

.card-text {
    color: #212529;
}

.card-title {
    font-family: 'Oswald', sans-serif;
    color: #b71c1c;
}

.card-img-top {
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}

/* ----- events listing ----- */

.date {
    padding: 2px;
    text-align: center;
    color: #b71c1c;
}

.event-listing {
    padding: 5px 40px 80px 40px;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    overflow: auto;
}

.shows {
    padding: 5px;
    text-align: left;
}

/* ----- Gallery ----- */

.page-header{
    margin: 20px;
    text-align: center;
    color: #b71c1c;
}

.hr-dark{
    width: 75%;
}

div.gallery a img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 1px;  /* Rounded border */
    padding: 3px;
}

.responsive {
  padding: 10px;
  float: left;
  width: 32%;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* ------ Music ------- */

.music-section-one {
    padding-bottom: 20px;
}

/*.sub-header {
    text-align: center;
}*/

.youtube-video {
    width: 90%;
}

.responsive-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.responsive-video iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.artwork {
    text-align: right;
}

.artwork img{
    width: 50%;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.track-listing {
    padding: 20px;
    font-family: 'Inconsolata', monospace;
}

.spotify {
    text-align: right;
    padding: 20px
    /*max-width: 75%; */
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */ 
}


.more-releases img {
    width: 20%;
    padding: 20px;
    margin: 20px;
}


/* ------ form------- */

form {
    padding: 30px 30px;
}

.booking-form {
    width: 100%;
    padding: 20px;
    margin: 30px 20px;
    background: #eceff1;
}

.booking-form h2 {
    font-size: 300%;
}

/* ----- hover ----- */

/* hover effect (red shadow) */
.gallery:hover {
  box-shadow: 0 0 2px 1px #f05545;
}

.social-links li a i:hover {
    background-color: #7f0000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn:hover {
    background-color: #7f0000;
}


/* ----- media queries ----- */


@media only screen and (max-width: 992px) {
    .responsive {
    width: 49%;
    margin: 6px 0;
    }
    .card3 {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    footer {
        height: 100px;
    }
    .general-sub p {
        display: none;
    }
    .general-sub {
        text-align: center;
        padding-bottom: 5px;
        padding-left: 0;
        margin: 0;
        display: inline-block;
    }
    .social-links {
        text-align: center;
        padding-right: 0;
    }
    .headline {
        font-size: 400%;
    } 
    .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}