/* ----- navbar ----- */

.navbar {
   font-family: 'Inconsolata', monospace;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    height: 80px;
    background-color: #b71c1c;
}

/* How do I change the navbar colour, if I want to?

.bg-dark {
    background-color: #b71c1c;  
}

*/

/* ----- main image and text ----- */

.album-cover{
    background: url("../images/the-Monkees3.jpg") no-repeat center;
    width: 100%;
    opacity: 0.9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.album-cover h1, h2, btn-dark {
    margin; 200px;
    color: #b71c1c;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

h1 {
    font-family: 'Inconsolata', monospace;
}

.btn-dark {
    font-family: 'Inconsolata', monospace;
}

.jumbotron {
    margin-top: 350px;
    background-color: #fafafa;
    padding: 30px 30px;
    margin-left: 100px;
    margin-right: 100px;
}

p {
    font-family: 'Inconsolata', monospace;
}

/* ----- footer ----- */

footer {
    background-color: #343a40;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
}

.social-links li a i {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    text-align: center;
    padding: 3px;
}

.general-sub {
    text-align: center;
}

.list-inline {
    text-align: center;
}

/* ----- card-decks ----- */

.card-deck {
    background-color: transparent;
    color: #fafafa;
    font-family: 'Inconsolata', monospace;
    margin: 50px;
}

.card {
    color: #7f0000;
    font-family: 'Inconsolata', monospace;
}

/* ----- events listing ----- */

/* how do I make table responsive? */

.date {
    padding: 2px;
    text-align: center;
    color: #b71c1c;
}

.event-listing {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 80px;
    width: 100%;
    font-family: 'Inconsolata', monospace;
}

.shows {
    padding: 5px;
    text-align: left;
}

.btn-dark {
    
}


/* ----- hover ----- */


.hvr-sweep-to-right {
    color: ;
}

/* how do I change hover colour for nav-links? */

.nav-link li a:hover {
    background-color: #f05545;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #f05545;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.hvr-sweep-to-right:before {
    background-color: #f05545;
}


/* ----- media queries ----- */

@media (max-width 768px) {
    .album-cover {
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 100%;
        min-height: 250px;
    }
}


/* ----- biography ----- */

.h1 biography {
    font-family: 'Inconsolata', monospace;
}